<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >
<xacro:macro name="add_realsense_link" params="suffix">
  <xacro:property name="realsense_size" value="0.025 0.09 0.025"/>
  <xacro:property name="realsense_origin" value="${chassis_x/2} 0 ${chassis_z*2}"/>

  <material name="realsense_mat">
      <color rgba="0.1490196 0.1490196 0.1490196 1.0"/>
  </material>

  <link name="realsense_${suffix}_link">
    <inertial>
      <mass value="0.0615752"/>
      <inertia ixx="9.108e-05" ixy="0" ixz="0" iyy="2.51e-06" iyz="0" izz="8.931e-05"/>
    </inertial>
    <collision name="realsense_collision">
      <origin xyz="${realsense_origin}"/>
      <geometry>
        <box size="${realsense_size}"/>
      </geometry>
    </collision>
    <visual name= "realsense_visual">
      <material name="realsense_mat"/>
      <origin xyz="${realsense_origin}"/>
      <geometry>
        <box size="${realsense_size}"/>
      </geometry>
    </visual>
  </link>
</xacro:macro>
</robot>
